@tailwind base;
@tailwind components;
@tailwind utilities;

.main-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen (min-width: 768px) {
  .main-title {
    font-size: 30px;
  }
}
